/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
#my_button_div {
    width:100vw;
    height: 100vh;
    align-items: center; 
    display:flex; 
    justify-content:center"
}
#my_button {    
    margin: auto;
    width: 200px;    
    height: 200px;    
    border-radius: 100px;

}
#my_progress {
    margin: 50px;
    display: none;
}

#my_card {
    margin: 50px;
    display: none;
}

#my_photo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

@media (min-width: 576px) {
    .modal-xsm {
      max-width: 100px;
    }
  }

.my_button {
    padding-top: 10px;
    padding-bottom: 10px;
}

#input_form {
    padding: 20px;
}

.inner-addon {
    position: relative;
  }
  
  /* style glyph */
  .inner-addon .fa {
    position: absolute;
    padding: 10px;
    /* pointer-events: none; */
  }
  
  /* align glyph */
  .left-addon .fa  { left:  0px;}
  .right-addon .fa { right: 0px;}
  
  /* add padding  */
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }
  
  